
<br/><br/><br/>

<div class="for_admin">
<div class="landing_page">
<%= link_to "             Admin login          ", admin_login_path, :class=>"custom-link_with_form_box" %>
</div>
<br/>
<div class="landing_page">
<%= link_to "               User login     ",  new_user_session_path, :class=>"custom-link_with_form_box"  %>
</div>

<br/>

</div>




<footer >
<p>Footer</p>
</footer>